.user{
    text-align: right;
    color: red;
}

.chatPartner{
    color: green;
    text-align: left;
}

.private{
    color: black;
    text-align: center;
}

.userjoke{
	color: orange;
	font-size: 40pt;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

.userblue{
	color: blue;
}

.userpink{
	color: pink;
	font-size: 20pt;
	font-family:"Courier New", Courier, monospace;
}

.userlarge{
	color: black;
	font-size: 100pt;
	font-family:Impact, Charcoal, sans-serif;
}

.userwhite{
	color: white;
	font-size: 10pt;
	font-family:"Lucida Console", Monaco, monospace;
}
.usersmall{
	color: black;
	font-size: 5pt;
	font-family:"Lucida Console", Monaco, monospace;
}
.hill{
	color: blue;
	font-size: 20pt;
	font-family:"Lucida Console", Monaco, monospace;
}
.userminimal{
	color: red;
	font-size: 20pt;
	font-family:Arial, Helvetica, sans-serif;
}